.recent-posts {
	padding: 39px 0;
	@include mq(768px, min) {
		padding: 56px 0 60px;
	}
	@include mq(1200px, min) {
		padding: 66px 0 69px;
	}
}
.recent-posts__list {
	margin-top: 23px;
}
.recent {
	@include mq(1200px, min) {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		gap: 32px;
		grid-auto-flow: column;
	}
}
.recent__item {
	margin-bottom: 28px;
	@include mq(767px, max) {
		margin-bottom: 32px;
		&:nth-child(n + 4) {
			display: none;
		}
	}
	@include mq(1200px, min) {
		margin-bottom: 0;
	}
}
.recent__link {
	text-decoration: none;
	@include mq(768px, min) {
		display: flex;
	}
}
.recent__img {
	width: 160px;
	height: 140px;
	@include mq(768px, min) {
		margin-right: 21px;
	}
}
.recent__title {
	margin-top: 11px;
	@include sections-title-font-mob;
	text-transform: capitalize;
	color: $recent-title-color;
	@include mq(768px, min) {
		margin-top: 0;
		@include sections-title-font;
	}
}
.recent__subtitle {
	font-size: 11px;
	line-height: 20px;
	color: $recent-subtitle-color;
	@include mq(768px, min) {
		margin-bottom: 13px;
	}
}
.recent__text {
	display: none;
	@include mq(768px, min) {
		display: block;
		width: 402px;
		font-size: 14px;
		line-height: 26px;
		color: $recent-text-color;
	}
}