// ***** COLOR VARIABLES *****
// Common
$titles-color: #4e4e4e;

// Menu for Desktop
$menu-color-basic: #4e4e4e;
$menu-color-current: #57a4a4;

// Recent Posts Section
$recent-title-color: #4e4e4e;
$recent-subtitle-color: #7c7c7c;
$recent-text-color: #5c5c5c;

// Insta Section
$insta-title-color: #4e4e4e;

// Footer
$footer-text-color: #b9b9b9;
$footer-background-color: #000000;
