* {
    box-sizing: border-box;
  }
  .wrapper {
    display: list-item;
    margin: 0 auto;
    padding-left: 15%;
    padding-right: 15%;

  }
  .card-container {
    width: 80%;
    padding: 30px;
    border-bottom: 1px solid black;
  }
  .card-header {
    display: flex;
    flex-wrap: wrap;
  }
  .card-name {
    font-weight: 700;
    font-size: 20px;
    flex: 0 1 90%;
    text-decoration: none;
    color: #1DA1F2;
  }
  .card-email {
    font-style: italic;
    padding-bottom: 10px;
  }
  .btn-del {
    cursor: crosshair;
    flex: 0 1 10%;
  }
  
  .card-title {
    padding-bottom: 10px;
    font-style: italic;
    font-weight: bold;
  }
  